*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardContainer{
    width: 65%;
    height: auto;
    border-radius: 8px;
    margin-top: 5vh;   
}

.packageAllBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.packageCard{
    width: 85%;
    /* height: 100%; */
    border: 2px solid transparent;
}

.packageCard-clicked{
    width: 75%;
    border-radius: 10px;
    border: 2px solid green;
}

.ant-card-body{
    height: auto;
}

.cardBody{
    display: flex;
    justify-content: space-around;
}

.list-item{
    /* width: 100%;
    height: 100%; */
    display:inline-flex;
    justify-content: space-around;
}

.cardImageCol{
    width:35%;
    height: auto;
    background: #C4C4C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.cardImage{
    width: 100%; 
    height: auto;   
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cardContentCol{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;   */
    align-items: center;
    width: 65%;
    height: auto;
    background: #F2F2F2;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;  
}
.package-Name-Price-Row{
    /* display:flex;
    justify-content: space-around; */
    margin-top: 1.5vh;
}
.package-Name{
    font-size: 15px;
    font-weight: 700;
    margin-right: 15vh;
    margin-bottom: 2vh;
}
.package-Price{
    font-size: 15px;
    font-weight: 700;
}

.detailListCol li{
    font-size: 11px;
    margin-left: 6vh;
    margin-bottom: 2vh;
}

.tagListCol li{
    display: flex;
    font-size: 11px;
    margin-left: 3vh;
}

.liTagList{
    background-color: #C4C4C4;
    border-radius: 8px;
    padding: 4px;
}

.TotalPriceAndGo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 4vh;
    margin-top: 4vh;
}

.packagebtn{  
    
    background: #1890FF;
    color:white;
    border-radius: 8px; 
    margin-right: 4vh;
}

.totalprice{
    font-size: 16px;
}

.price{
    font-weight: 700;
}

.loading-text{
    font-size: 25px;
}

