*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardBodys{
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    

}
.ant-card-body{
    height: auto;
}
.cardInfo{
    display: flex;
    justify-content: center;
    width: auto;
    height: 81.7vh;   
    border-radius: 8px;
    
    
}

.cardInfoText{
    font-weight: 600;
    font-size: 15px;
}

.tableCard{
    display: flex;
    justify-content: center;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    width: 100vh;
    height: 30vh;
    margin-top: 2vh;
}


.form-text{
    height: 9vh;
}

.input-info{
    border-color: #E1E1E1;
    border-style:solid;
    width: 45vh;
    height: 6vh;
    padding: 8px 12px;
    border-radius: 8px;

}
.expiration-date-info{
    width: 20vh;
    height: 6vh;
    padding: 8px 12px;
    border-radius: 8px;
    border-color: #E1E1E1;
    border-style:solid;
 
}

.card-date-cvv-info{
    width: 20vh;
    height: 6vh;
    padding: 8px 12px;
    border-radius: 8px;
    border-color: #E1E1E1;
    border-style:solid;
}
.card-date-cvv-info:focus{
    width: 20vh;
    height: 6vh;
    padding: 8px 12px;
    border-radius: 8px;
    border: 2px;
    border-color: black;
    border-style:solid;
}

.formıtemInput{
    margin-right: 2vh;
}

.cardInputsCol{
    margin-top: 2vh;
}

.agreement-form{
    width: 100vh;
    height: 30vh;  
    border: solid 1px #E1E1E1 ;
}

.agreement-form-title{
    font-weight: 600; 
    margin-top: 2vh;
    
}

.cartInfo{
    width: 50vh;
    height: auto;
    border-radius: 8px;
    margin-left: 10vh;
    
}
.package-Name-Price{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin-left: 2vh;
    color:#000000;
}

.cartInPackage{
    font-weight:500;
    margin-bottom: 2vh;
}

.packageInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background: #F2F2F2;
    border-radius: 8px;
    margin-bottom: 2vh ;
}
.btnRow{
    display: flex;
    flex-direction: column;
}
.makePriceBtn{
    display: flex;
    justify-content: center;
    background: #1890FF;
    color:white;
    border-radius: 8px; 
    width: 100%;
}









